.container {
}

ul  {
  -webkit-padding-start: 0px;
}

.tweetText {
  font-size: 1.375em !important;
}

  .tweet {
    background-color: #e3f3e7;
  }
  


  .tweet-quote {
    background-color: #fff8e1;
  }
  
  .tweet-reply {
    background-color: #ffccbc;
  }
  
  .tweet-reply-self {
    background-color: #eee;
  }