
.container {
  padding: 0px;
}

.gridContainer {
  padding: 0px;
  min-height: 400px;
}

.dailyDashShell {
  padding: 10px;
}

.listUL {
  list-style-type: none;
}

.listUL li {
  padding: 10px 0px;
}

.dailyDataInfoShell {
  padding: 20px;
}
