.volsList {
    padding: 10px;
    margin: 4px;
}

.volsTitle {
    text-align: center;
    margin: 10px
}
.progress {
    width: 100%
}

.samePerson td {
    border-top: none;
  }
  
  .diffPerson td {
    border-top: 1px solid #ccc;
    padding-top: 14px;
  }
  
  .diffPerson:first-child td {
    border-top: none;
  }


.shiftVolsTable {
    width: 100%;
    border-collapse: collapse;
  }
  .shiftVolsTable th {
    text-align: left;
  }
  
  .shiftVolsTable td {
    padding-bottom: 14px;
  }
  
  .shiftVolsTable td.tdPhone {
    min-width: 84px;
    cursor: pointer;
  }
  
  .shiftVolsTable td.tdPhone div {
    text-decoration: underline;
    color: #00f;
  }
  .shiftVolsTable td.tdPhone div.noPhone {
    text-decoration: none;
    color: #000;
  }

  .getPhone {
    font-variant: all-small-caps;
  }