@import 'base';

.container {
  @extend .flex-column-center;
  justify-content: flex-start;
  padding-top: 30px;
  flex-grow: 2;
  box-sizing: border-box;
  overflow-y: scroll;
}

.tiles {
  @extend .flex-row-center;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  flex-wrap: wrap;
}

.progress {
  @extend .flex-column-center;
  justify-content: flex-start;
  padding-top: 30px;
  flex-grow: 2;
  box-sizing: border-box;
  overflow-y: scroll;
  padding-left: 5%;
  padding-right: 5%;
}

.gotvGrid {
  padding: 20px;
}

.gridList {
  width: 100%;
  padding: 20px;

}

.listCounties {
  width: 100%
}
.listStations{
  padding-left: 30px !important;
}

.timeText {
  width: 100%;
  text-align: left;
}

.swipeViews {
  width: 100%;
  padding: 0px;
}

.paperTable {
  width: 100%;
  overflow-x: auto;
  white-space: pre;
  padding: 10px;
}

.shiftTable {
  min-width: 100px;
}

.stationGrid {
  padding: 10px;
}

.tableTD {
  text-align: right;
  vertical-align: top;
}
.subTableTD {
  min-width: 120px;
}

.centerText {
  text-align: center;
}