.videoPlayerContainer {
    // position: relative;
    // width: 100%;
    // height: 0;
    // padding-bottom: 56.25%;
}
.videoIframePlayer {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    
}
.videoList {
    height: 500px;
    overflow:scroll;
}

.videoItem:hover {
    background: #ccc;
    cursor: pointer;
}