.card {
    display: 'flex';
  }
  .cardDetails {
      display: inline-block;
      width: 60%;
    // flex: 1;
    // flex-direction: 'column';
  }

  .cardDetailsNoPic {
      width: 100%;
  }

 .cardMedia {
    width: 37%;
    display: inline-block !important;
    height: 228px;
    margin-right: 25px;
    padding-top: 23.25% ;
  }