@import 'base';

.shiftGrid {
  padding: 20px;
}
.swipeViews {
    width: 100%;
    padding: 0px;
  }

  .tabVisible {
    display: inherit !important;
  }

.tabHidden {
  display:none !important;
}

.shiftTabContainer {
  padding: 10px;
}

.colorSwitchBase {
  color: #00ff00;
  &checked {
    color: #00ff00;
    &bar {
      background-color:#00ff00;
    }
  }
}

label[data-shrink="true"] {
  background: #fff;
  z-index: 1000;
}
// colorBar: {},
// colorChecked: {}

.shiftVolsTable {
  width: 100%;
  border-collapse: collapse;
}
.shiftVolsTable th {
  text-align: left;
}

.shiftVolsTable td {
  padding-bottom: 14px;
}

.shiftVolsTable td.tdPhone {
  min-width: 84px;
  cursor: pointer;
}

.shiftVolsTable td.tdPhone div {
  text-decoration: underline;
  color: #00f;
}
.shiftVolsTable td.tdPhone div.noPhone {
  text-decoration: none;
  color: #000;
}

.tabShow {
  width: 100%;
  display: block;
}

.tabHide {
  display: none;
}

.allVolExpansion {
  width: 100%;
}

.samePerson td {
  border-top: none;
}

.diffPerson td {
  border-top: 1px solid #ccc;
}

.diffPerson:first-child td {
  border-top: none;
}

.progressCirc {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  outline:none !important;
}

svg {
  outline:none !important;
}