
.container {
    padding: 20px;
  }
  
  .gridContainer {
    padding: 20px;
  }
  
  .barGraphPaper {
    padding: 10px;
    height: 300px;
  }

  .totalPaper {
    padding: 10px;
    height: 100%;
  }

.shownText {
  padding: 0px 5px;
  border-bottom: 1px solid #999;
}
  .blankText {
    color: #fff;
    visibility: hidden;
  }

  .tableTD {
    text-align: right;
    vertical-align: top;
  }

  .tableCountyName {
    text-align: right;
  }
  .tableCountyName:first-child {
    padding-top:0px;
  }


  .subTableStationName {
    min-width: 140px;
    text-align: right;
  }
  .subTableData {
    text-align: center;
    padding: 5px 44px;
  }
  .tableRowData:hover {
    background: #E8E6E6;

  }

  .dataCell {
    min-width:40px;
 
  }

  .stationStatusClosed {
    background: #F00;
    margin-top: 7px;
    margin-left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    float: right;
  }

  .stationStatusOpen {
    background: #0F0;
    margin-top: 7px;
    margin-left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    float: right;
  }

  .toggleBtns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .inRed {
    color: #CC0000;
  }

  .inGreen {
    color: #006600
  }

  .isZero {
    color: #000
  }