.modalBox {
    background: #fff;
    // width: 400px;
    // height: 280px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // margin-top: -140px;
    // margin-left: -200px;
    border-radius: 5px;
    padding: 20px;
}

.userTable {
    width: 100%;
}
.userTable th {
    text-align: left;
}

.userList {
    padding: 20px;
    margin: 20px;
}

.userAvatar {
    width: 40px;
}

.btnAddPeople {
    
}