@import 'base';

.container {
  height: 100%;
  /* momentum scrolling */
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.children {
  height: calc(100% - 48px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $background;
}
